<div  style="background-color: #f3f3f3;padding-bottom: 90px;padding-top: 71px;">


  <!--Section: Content-->
  <section class="dark-grey-text text-center">

    <h3 class="font-weight-bold pt-4 mb-4"
      style="padding-left: 15px;padding-right: 15px;font-size: 20px;font-weight: 900;color:#252525">Welcome to the official website
    </h3>
    <hr style="border-top: 4px solid #e31b23;width: 11% !important;">
    <h5  style="color: #252525;font-size: 16px;">Latest Soccer News - League & Transfer News, Scores & Match Reports
    </h5>

    <div class="row mx-lg-5 mx-md-3" style="padding-top: 70px;">
      <div class="col-md-3 mb-3">

        <div class="view mb-5">
        </div>
        <img src="assets/slider-images/undraw_basketball_agx4.png" class="img-fluid"
          alt="smaple image">

        <h5  style="color: #252525;font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.</h5>

      </div>
      <div class="col-md-3 mb-3">

        <div class="view mb-5">
          <img src="assets/slider-images/football.png" class="img-fluid" alt="smaple image" style="height:218px; padding-left: 40px;">
        </div>

        <h5  style="color: #252525;font-size: 16px;">Ut enim ad minim veniam, quis nostrud ut aliquip ex ea commodo
          consequat.</h5>

      </div>
      <div class="col-md-3 mb-3">

        <div class="view mb-5">
          <img src="assets/slider-images/basketball.svg" class="img-fluid"
            alt="smaple image">

        </div>

        <h5 style="color: #252525;font-size: 16px;">Ut enim ad minim veniam, quis nostrud ut aliquip ex ea commodo
          consequat.</h5>

      </div>
      <div class="col-md-3 mb-3">
        <div class="view mb-5">
          <img src="assets/slider-images/rugBe.png" class="img-fluid" alt="smaple image" style="height:218px;padding-left: 40px;">
        </div>
        <h5  style="color: #252525;font-size: 16px;">Ut enim ad minim veniam, quis nostrud ut aliquip ex ea commodo
          consequat.</h5>
      </div>


    </div>
    <hr style="background-color: #252525;">
    <div>
      <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" style="border: 2px solid #252525!important;background-color: transparent!important;color: #252525!important;">      <a mat-button style="text-decoration: underline;padding-left: 15px;padding-right: 15px;font-size: 20px;font-weight: 900;color:#252525"> View More & See All Sports</a>
      </button>

    </div>
  </section>
  <!--Section: Content-->


</div>
