.list-group-item + .list-group-item {
  border-top-width: 0;
  background-color: #f3f3f3 !important;
  border-color: #252525;
}

.view-more {
  background-color: #e31b23 !important;
  border-bottom: none;
  border-right: none;
  border-left: none;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin-top: 7px;
}

::nd-deep .btn-default {
  background-color: #f3f3f3;
  color: #f3f3f3;
}

::nd-deep .btn-default:hover {
  background-color: #f3f3f3;
  color: #f3f3f3;
}
