<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="margin-top: 8px;">

  <!-- Footer Elements -->
  <div class="container">

      <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
              <span class="material-icons">
                where_to_vote
              </span>
              </a>
          </li>
          <li class="list-inline-item">
            <span class="material-icons">
              map
              </span>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
              <span class="material-icons">
                live_tv
                </span>            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
              <span class="material-icons">
                escalator_warning
                </span>            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
              <span class="material-icons">
                star
                </span>            </a>
          </li>
        </ul>

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> XXYZ Compny</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
