<div style="padding-top: 5rem;">
  <div style="text-align: center;">
    <button mat-mini-fab  color="default" aria-label="Example icon button with a home icon">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
      <span style="padding-left: 15px; padding-right: 15px; font-size: 20px; font-weight: 900;">  Event Name  ( Football) </span>
    <button mat-mini-fab  color="default" aria-label="Example icon button with a home icon">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<div style="padding-top: 4rem; padding-left:2rem;">

  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col-6">
          <h1 class="text">TEAMS RANKING</h1>
        </div>
        <div class="col-6" style="padding-top: 20px; text-align: end;cursor: pointer;">
          <span class="resultMore">
            SEE ALL RESULTS
          </span>
        </div>
      </div>
      <div class="row">
        <table mdbTable>
          <thead class="black white-text">
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elements;let i = index" [ngClass]="{'backgroud': i%2==0}">
              <th scope="row">{{el.id}}</th>
              <td>{{el.win}}</td>
              <td>{{el.loss}}</td>
              <td> {{el.win + el.loss}} </td>
              <td>{{el.mapedScore}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-5" style="padding-left: 4rem;">
      <div class="row">
        <h1 class="text">Awards</h1>
      </div>
      <div class="row">
        <div>
          <mdb-card style="text-align: center;
          color: white;
          background: black;">
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h3>BAR</h3>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text>
                <img class=""
                  src="assets/team-raking/torpy.png"
                  width="108" height="143" alt="trophie" style="height: 16rem;
                  width: 13rem;" title="trophie">
              </mdb-card-text>
              <div>
                <h3> 2019 World coup champion</h3>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div style="padding-left: 1rem;">
          <mdb-card style="    text-align: center;
          color: white;
          background: black;">
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h3>BLUEBIRD</h3>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text>
                <img class=""
                  src="assets/team-raking/tropy2.png"
                  width="108" height="143" alt="trophie" style="height: 16rem;
                width: 13rem;" title="trophie">
              </mdb-card-text>
              <div>
                <h3>
                  2018 World coup champion
                </h3>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
