.text {
  color: #252525;
  border-left: none;
  position: relative;
  line-height: normal;
  padding-left: 25px;
  margin-bottom: 40px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
}

.backgroud {
  background: #f3f3f3;
}

.resultMore {
  text-align: end;
  color: #e31b23;
  font-weight: 900;
  font-size: 16px;
  text-decoration: underline;
}
