<div class="container my-5" style="padding-top: 30px;">

  <!-- Section -->
  <section>

    <h1 class="font-weight-normal text-center dark-grey-text pb-2 display-4"><strong>Football Under 20</strong></h1>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">We waited until we could do it right. Then we did! Instead of
      creating a carbon copy.</p>
      <div class="row" style="margin-top: -28px;">
        <div class="col-5" style="text-align: end;">
          <span class="material-icons" style="font-size: 36px;">
            calendar_today
          </span>
        </div>
        <div  class="col-6" style="padding-bottom: 10px;font-size: 36px;font-family: serif;font-weight: bold; text-align: left;">
          August 15, 2020
        </div>
      </div>
    <!--First row-->
    <div class="row d-flex align-items-center justify-content-center" style="margin-top: 10px;">
      <!--Grid column-->
      <div class="col-md-6 col-xl-5">
        <!--Form-->
        <div class="card" style="text-align: center;">
          <div class="card-body z-depth-2 px-4">
            <div style="padding-top: 10px; ">
              <img src="assets/upcoming-events/football.png">
              <ul class="header text" style="font-size: 22px;font-weight: 900;padding-top: 33px;">
                <span>188 <small>days</small></span> <span> 19 <small>hrs</small></span> <span> 36
                  <small>mins</small></span> <span> {{timeLeft}} <small>secs</small></span> </ul>
            </div>
            <div class="md-form mt-3" style="padding-top: 15px; ">
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Enter Team Name</mat-label>
                  <input matInput placeholder="Team Name">
                  <mat-icon matSuffix>people_outline</mat-icon>
                  <mat-hint>Team Name</mat-hint>
                </mat-form-field>
              </p>
            </div>
            <div class="md-form mt-3">
              <div class="row">
                <div class="col-6">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01"  (change)="onSelectFile($event)">
                    <label class="custom-file-label" for="inputGroupFile01" style="padding-right: 83px;">Team logo</label>
                  </div>
                </div>
                <div class="col-6">
                  <img src="{{url}}" class="rounded-sm" alt="100x100" style="max-width: 65%;height: auto;padding-left: 20px;">
                </div>
              </div>
            </div>
            <div class="md-form mt-3">
              <div class="row">
                <div class="col-8"  style="text-align: end;">
                  <form [formGroup]="registerForm">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Player Name</mat-label>
                        <input matInput placeholder="Team Name" formControlName="playeName">
                        <mat-icon matSuffix>emoji_people</mat-icon>
                        <mat-hint>Enter player name and click add button</mat-hint>
                      </mat-form-field>
                    </p>
                  </form>
                </div>
                <div class="col-4" style="text-align: left;">
                  <button mat-fab color="primary" (click)="addPlayer()" aria-label="Example icon button with a delete icon" style="background-color: #252525;">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="md-form mt-3" *ngIf="playerDetails.length>0">
               <div>
                <table id="dt-fixed-footer" class="table" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="th-sm">Player Name
                      </th>
                      <th class="th-sm">Upload photo
                      </th>
                      <th class="th-sm">Details
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let player of playerDetails; let i = index">
                      <td>{{player}}</td>
                      <td><mat-icon>attach_file</mat-icon></td>
                      <td style="cursor: pointer;">
                        <mat-icon (click)="delete(i)">delete</mat-icon>
                       </td>
                    </tr>
                  </tbody>
                </table>
               </div>
            </div>
            <div class="text-center my-3" >
              <button class="btn btn-indigo btn-block" style="background-color: #252525!important;">Registation</button>
            </div>
          </div>
        </div>
        <!--/.Form-->
      </div>
      <!--Grid column-->
    </div>
    <!--First row-->

  </section>
  <!-- Section -->

</div>
