.carousel-item {
  &.active, &.carousel-item-right, &.carousel-item-next {
    display: flex !important;
    flex-wrap: wrap
  }
}


.header {
  list-style: none;
  position: relative;
  z-index: 1;
  padding: .7rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  margin-left: 1rem;
  background-color: #252525!important;
  border: 0;
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.header1 {
  list-style: none;
  position: relative;
  z-index: 1;
  padding: .7rem;
  margin-right: 1rem;
  margin-top: -20px;
  margin-left: 1rem;
  background-color: #e31b23!important;
  border: 0;
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  color: #fff;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}
.text {
    /* font-size: 18px; */
    color: #fff;
    font-weight: 900;
    text-align: center;
    animation: ul 15s ease;
    background-size: 400% 400% !important;
    -webkit-font-smoothing: antialiased;
}
